@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --foreground-color: #121212;
  --foreground-light-color: #1c1c1c;
  --foreground-lighter-color: #2a2a2a;
  --foreground-lighter-hover-color: #333333;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3;
  --accent-color: #1ed760;

  --player-height: 72px;
}

@layer base {
  body {
    @apply bg-background text-primary-text;
  }
}

/* Ensure the scrollbar thumb fills the scrollbar width */
.os-theme-dark .os-scrollbar-handle {
  background-color: rgba(255, 255, 255, 0.3); /* Set the thumb color */
  width: 100%; /* Ensure the thumb fills the scrollbar width */
}

/* Hover effect on the scrollbar thumb */
.os-theme-dark .os-scrollbar-handle:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Change color on hover */
}

.os-theme-dark .os-scrollbar-handle:active {
  background-color: rgba(255, 255, 255, 0.7); /* Change color on hover */
}

.os-scrollbar-handle {
  width: 12px !important;
  border-radius: 0 !important;
}

.os-theme-dark,
.os-theme-light {
  --os-padding-perpendicular: 0px !important;
  --os-padding-axis: 0px !important;
}
