@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --foreground-color: #121212;
  --foreground-light-color: #1c1c1c;
  --foreground-lighter-color: #2a2a2a;
  --foreground-lighter-hover-color: #333333;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3;
  --accent-color: #1ed760;

  --player-height: 72px;
}

@layer base {
  body {
    @apply bg-background text-primary-text;
  }
}
